<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Array Methods</title>
  <link rel="stylesheet" href="../stylesheets/main.css">
  <link rel="stylesheet" href="../stylesheets/arrayMethods.css">
</head>
<body>
<header>
  <h1>Array Methods Visualizer</h1>
  <p>Visual demonstrations of the most common array methods.</p>
</header>

<!-- main -->
<main class="maincontent">

  <!--   the visualized array -->
  <div id="container">
    <ul id="list">
      <li class="listItem show">Cantaloupe<div>[0]</div></li>
      <li class="listItem show">Apples<div>[3]</div></li>
      <li class="listItem show">Dewberry<div>[3]</div></li>
      <li class="listItem show">Melon<div>[4]</div></li>
      <li class="listItem show">Banana<div>[4]</div></li>
      <!--  <li class="listItem show">Vegetables<div>[3]</div></li>-->
    </ul>
  </div>

  <!-- array controls -->
  <div class="controls">
    <button id="unshift">   .unshift()   </button>
    <button id="shift">     .shift()     </button>
    <button id="push">      .push()      </button>
    <button id="pop">       .pop()       </button>
    <button id="reverse">   .reverse()   </button>
    <button id="sort">      .sort()      </button>
    <button id="arraySort"> .arraySort() </button>
    <button id="bubbleSort">  .bubbleSort() </button>
  </div>


  <!-- TODO: Have to add a Description-->
  <section style="display: none">
    <h3>{Title}</h3>
    <p>Description ...</p>
  </section>

</main>

<script src="../javascript/arrayMethods.js" type="module"></script>
</body>
</html>