<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/objects.css">
    <link rel="stylesheet" href="../stylesheets/reference.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <h1>Objects Visualizer</h1>
    <p>Visual demonstrations of Objects.</p>
</header>

<main class="maincontent">
    <div id="container">
    </div>

    <div class="controls">
        <button id="addObject">Add Object</button>
        <button id="removeObject">Remove Object</button>
        <button id="addProperty">Add Property</button>
        <button id="removeProperty">Remove Property</button>
    </div>

    <div class="controls">
        <button id="cloneObject">Clone Object</button>
    </div>

    <div class="controls">
        <button id="createReference">Create Reference</button>
        <button id="addReference">Add Reference</button>
        <button id="removeReference">Remove Reference</button>
    </div>

</main>

<script src="../javascript/objects.js" type="module"></script>

</body>
</html>